<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ak_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1926},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>ammo_revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2356},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>automatic_shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2943},{200,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,73}}</string>
                <key>sourceSize</key>
                <string>{200,73}</string>
            </dict>
            <key>bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{1400,671}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1400,671}}</string>
                <key>sourceSize</key>
                <string>{1402,672}</string>
            </dict>
            <key>bamboo_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2791},{960,150}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{960,150}}</string>
                <key>sourceSize</key>
                <string>{962,151}</string>
            </dict>
            <key>desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1400,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1400,671}}</string>
                <key>sourceSize</key>
                <string>{1400,671}</string>
            </dict>
            <key>desert_eagle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,2509},{160,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,89}}</string>
                <key>sourceSize</key>
                <string>{160,89}</string>
            </dict>
            <key>desert_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2639},{960,150}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{960,150}}</string>
                <key>sourceSize</key>
                <string>{962,151}</string>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{1400,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1400,656}}</string>
                <key>sourceSize</key>
                <string>{1400,656}</string>
            </dict>
            <key>forest_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2487},{960,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,150}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>gold_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2522},{154,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,201}}</string>
                <key>sourceSize</key>
                <string>{154,201}</string>
            </dict>
            <key>gold_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2144},{400,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,111}}</string>
                <key>sourceSize</key>
                <string>{400,111}</string>
            </dict>
            <key>golden_hand_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2929},{160,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,87}}</string>
                <key>sourceSize</key>
                <string>{160,87}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2646},{400,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,221}}</string>
                <key>sourceSize</key>
                <string>{400,221}</string>
            </dict>
            <key>main_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,964},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>main_menu_buttons.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2356},{288,617}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,617}}</string>
                <key>sourceSize</key>
                <string>{288,617}</string>
            </dict>
            <key>metal_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,2356},{250,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,159}}</string>
                <key>sourceSize</key>
                <string>{250,159}</string>
            </dict>
            <key>metal_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2869},{260,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,104}}</string>
                <key>sourceSize</key>
                <string>{260,104}</string>
            </dict>
            <key>panda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,2820},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,2678},{140,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>rpg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2932},{200,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,54}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>score_screen_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{903,479}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,479}}</string>
                <key>sourceSize</key>
                <string>{904,480}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shop_menu_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2804},{180,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,126}}</string>
                <key>sourceSize</key>
                <string>{180,126}</string>
            </dict>
            <key>shop_money_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2347},{200,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,173}}</string>
                <key>sourceSize</key>
                <string>{200,173}</string>
            </dict>
            <key>shop_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2646},{281,174}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{281,174}}</string>
                <key>sourceSize</key>
                <string>{284,176}</string>
            </dict>
            <key>shop_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2006},{698,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{698,348}}</string>
                <key>sourceSize</key>
                <string>{700,350}</string>
            </dict>
            <key>shop_top_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2943},{600,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,71}}</string>
                <key>sourceSize</key>
                <string>{600,71}</string>
            </dict>
            <key>shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2937},{200,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,48}}</string>
                <key>sourceSize</key>
                <string>{200,48}</string>
            </dict>
            <key>sniper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2929},{200,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,54}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>tank_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1926},{400,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,216}}</string>
                <key>sourceSize</key>
                <string>{400,216}</string>
            </dict>
            <key>tank_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2257},{370,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,88}}</string>
                <key>sourceSize</key>
                <string>{370,88}</string>
            </dict>
            <key>uzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2347},{160,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,89}}</string>
                <key>sourceSize</key>
                <string>{160,89}</string>
            </dict>
            <key>wood_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2646},{256,174}}</string>
                <key>offset</key>
                <string>{-3,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,174}}</string>
                <key>sourceSize</key>
                <string>{264,175}</string>
            </dict>
            <key>wood_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2678},{192,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,124}}</string>
                <key>sourceSize</key>
                <string>{192,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pandatoss-hd.png</string>
            <key>size</key>
            <string>{2046,3018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec178990e12966b390f2dafc14df6f19$</string>
            <key>textureFileName</key>
            <string>pandatoss-hd.png</string>
        </dict>
    </dict>
</plist>
