<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ak_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2968,2},{200,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,63}}</string>
                <key>sourceSize</key>
                <string>{200,63}</string>
            </dict>
            <key>ammo_ak_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2968,233},{60,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,14}}</string>
                <key>sourceSize</key>
                <string>{60,14}</string>
            </dict>
            <key>ammo_automatic_shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2968,249},{58,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,14}}</string>
                <key>sourceSize</key>
                <string>{58,14}</string>
            </dict>
            <key>ammo_desert_eagle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2133,2023},{52,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,20}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>ammo_golden_hand_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,1372},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>ammo_revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2968,204},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>ammo_rpg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2216,1974},{172,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,36}}</string>
                <key>sourceSize</key>
                <string>{172,36}</string>
            </dict>
            <key>ammo_shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2048,2023},{83,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,20}}</string>
                <key>sourceSize</key>
                <string>{83,20}</string>
            </dict>
            <key>ammo_sniper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2023},{120,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,20}}</string>
                <key>sourceSize</key>
                <string>{120,20}</string>
            </dict>
            <key>ammo_uzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2187,2023},{40,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,20}}</string>
                <key>sourceSize</key>
                <string>{40,20}</string>
            </dict>
            <key>automatic_shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2889,458},{200,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,73}}</string>
                <key>sourceSize</key>
                <string>{200,73}</string>
            </dict>
            <key>bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{1400,671}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1400,671}}</string>
                <key>sourceSize</key>
                <string>{1402,672}</string>
            </dict>
            <key>bamboo_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,306},{960,150}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{960,150}}</string>
                <key>sourceSize</key>
                <string>{962,151}</string>
            </dict>
            <key>desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1400,671}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1400,671}}</string>
                <key>sourceSize</key>
                <string>{1400,671}</string>
            </dict>
            <key>desert_eagle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2487,879},{160,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,89}}</string>
                <key>sourceSize</key>
                <string>{160,89}</string>
            </dict>
            <key>desert_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,154},{960,150}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{960,150}}</string>
                <key>sourceSize</key>
                <string>{962,151}</string>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{1400,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1400,656}}</string>
                <key>sourceSize</key>
                <string>{1400,656}</string>
            </dict>
            <key>forest_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{960,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,150}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>gold_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2593,1055},{154,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,201}}</string>
                <key>sourceSize</key>
                <string>{154,201}</string>
            </dict>
            <key>gold_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2487,676},{400,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,111}}</string>
                <key>sourceSize</key>
                <string>{400,111}</string>
            </dict>
            <key>golden_hand_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2710,1280},{160,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,87}}</string>
                <key>sourceSize</key>
                <string>{160,87}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2450,1722},{400,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,221}}</string>
                <key>sourceSize</key>
                <string>{400,221}</string>
            </dict>
            <key>main_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1404},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>main_menu_buttons.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,1404},{288,617}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,617}}</string>
                <key>sourceSize</key>
                <string>{288,617}</string>
            </dict>
            <key>metal_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2289,1722},{250,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,159}}</string>
                <key>sourceSize</key>
                <string>{250,159}</string>
            </dict>
            <key>metal_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2487,1105},{260,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,104}}</string>
                <key>sourceSize</key>
                <string>{260,104}</string>
            </dict>
            <key>panda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2593,1211},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2592,1945},{140,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,92}}</string>
                <key>sourceSize</key>
                <string>{140,92}</string>
            </dict>
            <key>rpg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2390,1974},{200,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,54}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>score_screen_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,467},{903,479}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,479}}</string>
                <key>sourceSize</key>
                <string>{904,480}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shop_menu_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2852,1722},{180,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,126}}</string>
                <key>sourceSize</key>
                <string>{180,126}</string>
            </dict>
            <key>shop_money_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2796,1105},{200,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,173}}</string>
                <key>sourceSize</key>
                <string>{200,173}</string>
            </dict>
            <key>shop_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2859,822},{281,174}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{281,174}}</string>
                <key>sourceSize</key>
                <string>{284,176}</string>
            </dict>
            <key>shop_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2289,1372},{698,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{698,348}}</string>
                <key>sourceSize</key>
                <string>{700,350}</string>
            </dict>
            <key>shop_top_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2216,1372},{600,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,71}}</string>
                <key>sourceSize</key>
                <string>{600,71}</string>
            </dict>
            <key>shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2989,467},{200,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,48}}</string>
                <key>sourceSize</key>
                <string>{200,48}</string>
            </dict>
            <key>sniper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2968,265},{200,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,54}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>tank_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2487,458},{400,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,216}}</string>
                <key>sourceSize</key>
                <string>{400,216}</string>
            </dict>
            <key>tank_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2487,789},{370,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,88}}</string>
                <key>sourceSize</key>
                <string>{370,88}</string>
            </dict>
            <key>uzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2889,660},{160,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,89}}</string>
                <key>sourceSize</key>
                <string>{160,89}</string>
            </dict>
            <key>wood_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2593,879},{256,174}}</string>
                <key>offset</key>
                <string>{-3,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{256,174}}</string>
                <key>sourceSize</key>
                <string>{264,175}</string>
            </dict>
            <key>wood_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2852,1850},{192,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,124}}</string>
                <key>sourceSize</key>
                <string>{192,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pandatoss-hd.png</string>
            <key>size</key>
            <string>{3039,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b3ea5ea2ec1bb25c2e993758b5d1f80$</string>
            <key>textureFileName</key>
            <string>pandatoss-hd.png</string>
        </dict>
    </dict>
</plist>
