<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ak_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1261},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>ammo_revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,808},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>automatic_shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,940},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{700,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,336}}</string>
                <key>sourceSize</key>
                <string>{700,336}</string>
            </dict>
            <key>bamboo_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,456},{482,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,76}}</string>
                <key>sourceSize</key>
                <string>{482,76}</string>
            </dict>
            <key>desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{700,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,336}}</string>
                <key>sourceSize</key>
                <string>{700,336}</string>
            </dict>
            <key>desert_eagle.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1573},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>desert_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1407},{480,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,75}}</string>
                <key>sourceSize</key>
                <string>{480,75}</string>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{700,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,328}}</string>
                <key>sourceSize</key>
                <string>{700,328}</string>
            </dict>
            <key>forest_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1330},{480,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,75}}</string>
                <key>sourceSize</key>
                <string>{480,75}</string>
            </dict>
            <key>gold_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1402},{77,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,101}}</string>
                <key>sourceSize</key>
                <string>{77,101}</string>
            </dict>
            <key>gold_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1200},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>golden_hand_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1570},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,898},{200,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>main_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1008},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>main_menu_buttons.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{144,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,308}}</string>
                <key>sourceSize</key>
                <string>{144,308}</string>
            </dict>
            <key>metal_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1490},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>metal_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1576},{130,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,52}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>panda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1468},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1189},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>rpg.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1572},{100,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,27}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>score_screen_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{452,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,240}}</string>
                <key>sourceSize</key>
                <string>{452,240}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1008},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>shop_menu_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1376},{90,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>shop_money_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1100},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>shop_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,808},{141,88}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,88}}</string>
                <key>sourceSize</key>
                <string>{142,88}</string>
            </dict>
            <key>shop_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,456},{350,174}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,174}}</string>
                <key>sourceSize</key>
                <string>{350,175}</string>
            </dict>
            <key>shop_top_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,898},{300,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,36}}</string>
                <key>sourceSize</key>
                <string>{300,36}</string>
            </dict>
            <key>shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1600},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>sniper.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,979},{100,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,27}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>tank_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1490},{200,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{200,108}</string>
            </dict>
            <key>tank_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1189},{185,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,44}}</string>
                <key>sourceSize</key>
                <string>{185,44}</string>
            </dict>
            <key>uzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1527},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>wood_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1484},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>wood_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1505},{97,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,63}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pandatoss.png</string>
            <key>size</key>
            <string>{958,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a0640e3e3c855ff6a0f3be2e6c806cc$</string>
            <key>textureFileName</key>
            <string>pandatoss.png</string>
        </dict>
    </dict>
</plist>
