<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ak_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,450},{100,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,32}}</string>
                <key>sourceSize</key>
                <string>{100,32}</string>
            </dict>
            <key>ammo_ak_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,456},{30,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,7}}</string>
                <key>sourceSize</key>
                <string>{30,7}</string>
            </dict>
            <key>ammo_automatic_shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,466},{28,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,7}}</string>
                <key>sourceSize</key>
                <string>{28,7}</string>
            </dict>
            <key>ammo_desert_eagle.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,456},{26,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,10}}</string>
                <key>sourceSize</key>
                <string>{26,10}</string>
            </dict>
            <key>ammo_golden_hand_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,456},{41,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,13}}</string>
                <key>sourceSize</key>
                <string>{41,13}</string>
            </dict>
            <key>ammo_revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,456},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>ammo_rpg.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,456},{86,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,18}}</string>
                <key>sourceSize</key>
                <string>{86,18}</string>
            </dict>
            <key>ammo_shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,471},{41,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,10}}</string>
                <key>sourceSize</key>
                <string>{41,10}</string>
            </dict>
            <key>ammo_sniper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,472},{60,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,10}}</string>
                <key>sourceSize</key>
                <string>{60,10}</string>
            </dict>
            <key>ammo_uzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,456},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>automatic_shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,443},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,2},{700,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,336}}</string>
                <key>sourceSize</key>
                <string>{700,336}</string>
            </dict>
            <key>bamboo_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2137,340},{482,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,76}}</string>
                <key>sourceSize</key>
                <string>{482,76}</string>
            </dict>
            <key>desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{700,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,336}}</string>
                <key>sourceSize</key>
                <string>{700,336}</string>
            </dict>
            <key>desert_eagle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2932,332},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>desert_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{480,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,75}}</string>
                <key>sourceSize</key>
                <string>{480,75}</string>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2622,2},{700,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,328}}</string>
                <key>sourceSize</key>
                <string>{700,328}</string>
            </dict>
            <key>forest_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{480,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,75}}</string>
                <key>sourceSize</key>
                <string>{480,75}</string>
            </dict>
            <key>gold_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,340},{77,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,101}}</string>
                <key>sourceSize</key>
                <string>{77,101}</string>
            </dict>
            <key>gold_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2318,418},{200,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,56}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>golden_hand_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2978,332},{80,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,43}}</string>
                <key>sourceSize</key>
                <string>{80,43}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,354},{200,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,110}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>main_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>main_menu_buttons.png</key>
            <dict>
                <key>frame</key>
                <string>{{2622,332},{144,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,308}}</string>
                <key>sourceSize</key>
                <string>{144,308}</string>
            </dict>
            <key>metal_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,354},{125,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,80}}</string>
                <key>sourceSize</key>
                <string>{125,80}</string>
            </dict>
            <key>metal_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,340},{130,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,52}}</string>
                <key>sourceSize</key>
                <string>{130,52}</string>
            </dict>
            <key>panda3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2259,418},{60,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,57}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>revolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2520,418},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>rpg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,340},{100,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,27}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>score_screen_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{452,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,240}}</string>
                <key>sourceSize</key>
                <string>{452,240}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>shop_menu_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,340},{90,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,63}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>shop_money_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,354},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>shop_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,340},{141,88}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,88}}</string>
                <key>sourceSize</key>
                <string>{142,88}</string>
            </dict>
            <key>shop_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{350,174}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,174}}</string>
                <key>sourceSize</key>
                <string>{350,175}</string>
            </dict>
            <key>shop_top_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,442},{300,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,36}}</string>
                <key>sourceSize</key>
                <string>{300,36}</string>
            </dict>
            <key>shotgun.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,456},{100,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{100,24}</string>
            </dict>
            <key>sniper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,450},{100,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,27}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>tank_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,340},{200,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,108}}</string>
                <key>sourceSize</key>
                <string>{200,108}</string>
            </dict>
            <key>tank_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2932,414},{185,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,44}}</string>
                <key>sourceSize</key>
                <string>{185,44}</string>
            </dict>
            <key>uzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2091,340},{80,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,44}}</string>
                <key>sourceSize</key>
                <string>{80,44}</string>
            </dict>
            <key>wood_cannon_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,340},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>wood_cannon_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,340},{97,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,63}}</string>
                <key>sourceSize</key>
                <string>{97,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pandatoss.png</string>
            <key>size</key>
            <string>{3324,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97867c6213e4f7b1d86618740c8d51e1$</string>
            <key>textureFileName</key>
            <string>pandatoss.png</string>
        </dict>
    </dict>
</plist>
